<h1>Welcome to Memory Match!</h1>
<h5>Try matching up pairs of images!</h5>
<br />

<div class='row'>
	<div id='1' class='first col s2 offset-s1 box grid_box'>
		<span>words</span>
	</div>
	<div id='2' class='second col s2 box grid_box'>
		<span>words</span>
	</div>
	<div id='3' class='third col s2 box grid_box'>
		<span>words</span>
	</div>
	<div id='4' class='fourth col s2 box grid_box'>
		<span>words</span>
	</div>
</div>

<div class='row'>
	<div id='5' class='fifth col s2 offset-s1 box grid_box'>
		<span>words</span>
	</div>
	<div id='6' class='sixth col s2 box grid_box'>
		<span>words</span>
	</div>
	<div id='7' class='seventh col s2 box grid_box'>
		<span>words</span>
	</div>
	<div id='8' class='eighth col s2 box grid_box'>
		<span>words</span>
	</div>
</div>

<div class='row'>
	<div id='9' class='ninth col s2 offset-s1 box grid_box'>
		<span>words</span>
	</div>
	<div id='10' class='tenth col s2 box grid_box'>
		<span>words</span>
	</div>
	<div id='11' class='eleventh col s2 box grid_box'>
		<span>words</span>
	</div>
	<div id='12' class='twelfth col s2 box grid_box'>
		<span>words</span>
	</div>
</div>

<!-- <div id="picbox">
  <span id="boxbuttons">
    <span class="button">
      <span id="counter">0</span>
      Clicks
    </span>
    <span class="button">
      <a onclick="ResetGame();">Reset</a>
    </span> 
  </span>
  <div id="boxcard"></div>
</div>
 -->

	